### IntelliJ IDEA ###
.idea/
*.iml

### Gradle ###
.gradle/
build/

# Manter wrapper do Gradle
!gradle/wrapper/gradle-wrapper.jar

### Java ###
*.class
out/
bin/

### Logs / temp ###
*.log
*.tmp
*.swp
*.swo

### OS ###
.DS_Store
Thumbs.db

### Opcional - se data for runtime/local ###
# data/*
# !data/.gitkeep
